<main class="TodoPageMain">
  <article>
    <h1 class="TodoPage-Title">My Todo List</h1>
    <form class="AddTodo"
          action="/todos"
          method="POST">
      <input class="AddTodo-Text" type="text" placeholder="what is next?"
      name="todo_text">
      <input class="AddTodo-date" type="date" name="due_date">
      <input class="AddTodo-Button" type="submit" value="Add">
    </form>
    <%= render partial: "todos-section", locals: {
      section_title: "Overdue",
      todos: Todo.overdue,
      show_due_date: true
      } %>
    <%= render partial: "todos-section", locals: {
      section_title: "Due_Today",
      todos: Todo.due_today ,
      show_due_date: false
      } %>
    <%= render partial: "todos-section", locals: {
      section_title: "Due_Later",
      todos: Todo.due_later ,
      show_due_date: true
      } %>
  </article>
</main>
